<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poke</title>
    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 60%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
          background-color: #dddddd;
      }
  </style>
  </head>
  <body>

      <a href="/logout">Logout</a>

      <h1>Welcome, {{ user.first_name}}</h1>
      <h3>{{poke_total.count}} people poked you!</h3>
      <div class="pokez">
        {% if poker %}
          {% for key in poke_count %}
            <p>{{key.poker.first_name}} poked you {{poke_count.count}} times.</p>
          {% endfor %}
        {% endif %}
      </div>
      <table>
        <tr>
          <th>Name</th>
          <th>Alias</th>
          <th>Email Address</th>
          <th>Poke History</th>
          <th>Action</th>
        </tr>
        {% for key in others  %}
        <tr>
          <td>{{key.first_name}}{{ key.last_name}}</td>
          <td>{{key.alias}}</td>
          <td>{{key.email}}</td>
          <td>{{key.poked.count}} Pokes</td>
          <td>
            <form action="/poke_process" method="post">
              {%csrf_token%}
              <input type="submit" value="Poke!">
              <input type="hidden" name="poker_id" value="{{ user.id }}">
              <input type ="hidden" name= "poked_by_id" value = "{{ key.id }}">
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
  </body>
</html>
